@use "../../utils/variables" as colors;

.hero {
  position: relative;
  margin-top: 166px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  & div {
    max-width: 565px;
    & h1 {
      font-weight: 700;
      font-size: 80px;
      line-height: 90px;
      letter-spacing: -2px;
      color: colors.$very-dark-violet;
      margin-bottom: 5px;
    }

    & p {
      font-weight: 500;
      font-size: 22px;
      line-height: 36px;
      letter-spacing: 0.15px;
      color: colors.$gray;
      margin-bottom: 38px;
    }

    & button {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      padding: 12px 40px;
    }
  }

  & .illustration {
    position: fixed;
  }
}
