.hero-container{
    position: relative;
    padding-top: 78px;
    padding-bottom: 152px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 0px;
    margin-left: 168px;
    gap: 101px;
}


@media screen and (max-width:375px) {
    .hero-container{
        padding-top: 23px;
        padding-bottom: 168px;
        flex-direction: column;
        margin-left: 24px;
        gap:37px;
    }
}