@use "../../utils/variables" as colors;

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 77%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px !important;

  & nav:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;

    & .logo {
      color: colors.$very-dark-violet;

      &:hover {
        cursor: pointer;
      }
    }

    & ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      gap: 30px;
      margin-left: 45px;

      & li {
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        color: colors.$gray;
        &:hover {
          cursor: pointer;
          color: colors.$very-dark-violet;
        }
      }
    }
  }

  & div {
    display: flex;
    flex-direction: row;
    gap: 37px;
  }
}
